<h1>Here is the booking details</h1>
<%= render 'flash' %>
<% count = 0 %>

<p>Flight ID: <%= @booking.flight_id %></p>
<% @booking.passengers.each do |p| %>
  <% count += 1%>
  <p> Passenger <%= count %>: <%= p.name %></p>
<% end %>